
.card{
    border: 1px solid #ebe3e33b;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0b0a0adf;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card img{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h2{
    font-family: Arial,sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}
.card p{
    font-family: Arial,sans-serif;
    color: hsl(0, 0%, 30%);
}

.color-picker{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-picker h1{
    margin: 50px;
    font-size: 3rem;
}
.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0,0%,80%) ;
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}
.color-display p{
    color: hsl(0,0%,20%);
    font-size: 2rem;
    text-align: center;
}
.color-display label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.color-display input [type="color"]{
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 80%);
} 


/* Tolis css */
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}
.edit{
    background-color: hsla(240, 66%, 65%, 0.955);
}

.add-btn{
    background-color: hsl(125, 47%, 54%);
}
.add-btn:hover{
    background-color: hsl(125, 47%, 44%);
}
.delete-btn{
    background-color: hsl(10, 90%, 50%);
}
.delete-btn:hover{
    background-color: hsl(10, 96%, 40%);
}
.move-btn{
    background-color: hsl(207, 90%, 64%);
}
.move-btn:hover{
    background-color: hsl(207, 90%, 54%);

}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}

ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0,0%,97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete-btn, .move-btn{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
} 
.box{
    border: 2px solid black;
    padding: 20px;
}